.Button{
    text-transform: uppercase;
    background-image: none;
    border-style: none;
    letter-spacing: 2px;
    margin: 41px 196px 0 0;
    background-color: #f1c50e !important;
    padding: 10px 30px;
    font-style: none;
    text-decoration: none;
}